version: '3.8'

services:
  web:
    image: php:8.2-apache
    container_name: ai_form_web
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html/
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_PORT=3306

  db:
    image: mysql:8.0
    container_name: ai_form_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: bitirme_projesi
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: